#preloader {
  background: #ffce2f;
  height: 200vh;
  width: 100%;
  position: absolute;
  z-index: 1050;
}

#preloader-bg {
  background: url("http://sahabatgempa.com/img/Logo.png") no-repeat center
    center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1050;
}
